.gradle/

# Build output
build/
out/
target/
bin/
log/
Pipfile.lock

# Eclipse
.metadata/
.settings/
.classpath
.project
.pydevproject

# IntelliJ
.idea/*
*.iml
*.ipr
*.iws
*.log

# Mac
.DS_Store

#cache
*.pyc
__pycache__

#local instance
instance/

#data
docker/infra/data/*
docker/.env
docker/infra/docker-compose-dev.yml
docker/infra/logs

#vscode
.vscode
.python-version

bot/version.txt

